@using MVC_Shop.Models.ViewModel
@model PscViewModel

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sub Category</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var item in Model.PSCModel)
                        {
                            <li><a class="dropdown-item" href="https://localhost:7197/home/ProductFilter/?categoryId=@item.Id">@item.Name</a></li>
                        }
                        
                    </ul>
                </li>
            </ul>
            <div class="d-flex">
                <a href="https://localhost:7197/home/Sepet">
                <button class="border-success btn btn-outline-info">
                    
                    <i class="bi-cart-fill me-1"></i>
                    Sepet
                    <!-- Action tarafında, session'dan ilgili değeri alıp, view model aracılığıyla -->
                        <span class="badge bg-dark text-white ms-1 rounded-pill sepet">@Model.SessionCount</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @if(Model.Products != null)
            {
                @foreach(var item in Model.Products)
            {
                    <div class="col mb-5">
                        <div class="card border-success h-100">
                            <!-- Product image-->
                            @{
                                var base64 = Convert.ToBase64String(item.Photo);
                                var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                            }
                        <img class="card-img-top" src=@imgSrc alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.Name</h5>
                                <!-- Product price-->
                                $@item.Price
                            </div>                            
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a product="@item.Id" class="btnSepet btn btn-outline-info mt-auto">Sepete Ekle</a></div>
                        </div>
                    </div>
                </div>
            }
            }
            
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>


    <script>
    $(document).ready(function () {
        $(".btnSepet").click(function () {
            var productId = $(this).attr("product");
            debugger;
            $.post({
                type: 'POST',
                dataType: 'json',
                url: 'https://localhost:7197/home/AddSepet',
                data: { Id: productId },
                success: function (response) {
                    var sepetValue = parseInt($(".sepet").html());
                    sepetValue++;
                    $(".sepet").html(sepetValue);
                },
                error: function (response) {
                    debugger;
                }
            });
        });
    });
    </script>